<h1 class="text-center">Sensex Data</h1>
<table class="table table-bordered">
  <thead>
    <tr>
      <th>Date</th>
      <th>Open</th>
      <th>Close</th>
    </tr>
  </thead>
  <tbody>
  <tr *ngFor="let item of collection | paginate: { itemsPerPage: pageSize, currentPage: p,
  totalItems: totalCount}">
    <td>{{item.Date}}</td>
    <td>{{item.Open}}</td>
    <td>{{item.Close}}</td>
  </tr>
  </tbody>
</table>
<pagination-controls class="text-right" (pageChange)="handlePageChange($event)"></pagination-controls>

<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Sensex update</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form [formGroup]="editSensexForm" (ngSubmit)="onSubmit()">
      <div class="form-group row">
        <label for="Open" class="col-sm-4 col-form-label">Open</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="Open" id="Open">
        </div>
      </div>
      <div class="form-group row">
        <label for="Close" class="col-sm-4 col-form-label">Close</label>
        <div class="col-sm-8">
          <input type="text" class="form-control" formControlName="Close" id="Close">
        </div>
      </div>

  <div class="modal-footer">
    <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
    <button type="submit" class="btn btn-primary">Save changes</button>
  </div>
    </form>
  </div>
</ng-template>
<button class="col-12 mb-2 btn btn-lg btn-outline-primary" (click)="open(content)"> Add Sensex Data </button>

